{{ define "main" }}
<main>
    <article>
        <header class="divider py-1">
            {{ partial "breadcrumb.html" . }}
            <h2 class="text-left text-capitalize mb-2">{{.Title}}</h2>
            <hr class="hr" />
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>

    {{ $pages := where .Site.RegularPages "Type" "in" .Type }}

    {{ $paginator := .Paginate ($pages) -}}
    {{ range $paginator.Pages -}}
        {{ .Render "summary" }}
    {{ end -}}
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}
