{{ $dateFormat := .Site.Params.DateFormat | default "Mon Jan 2, 2006"}}
{{ $author :=  .Site.Params.author.name | default .Site.Params.author }}
{{ $showNumberOfWords := .Params.showNumberOfWords | default .Site.Params.showNumberOfWords  }}

<article class="mb-5 pb-5 post">
  <header>

    <h2><a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>

    <div class="post-meta">{{ if .Site.Params.ShowDate }}<span class="byline-icon fa fa-clock-o" aria-hidden="true"></span> <span class="screen-reader-text">{{ i18n "date" }}: </span><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | time.Format $dateFormat }}</time> - {{ end }}{{ if $author }}
    <span class="byline-icon fa fa-user" aria-hidden="true"></span><span class="screen-reader-text">{{ i18n "author" }}: </span> {{ $author }}{{ end }}
    {{ if $showNumberOfWords }} - {{ .FuzzyWordCount }} {{ i18n "words" }}{{ end }} </div>
  </header>
      {{ with $image := .Resources.Get .Params.featured_image }}
        <div class="featured_image">
        <img src="{{ ($image.Fill "100x100 q100 Center").RelPermalink }}"  alt="">
        </div>
    {{ end }}
  {{ .Summary }}

  <footer class="pt-2 pb-2">
  {{ if .Truncated }}
  <a class="float-end" href='{{ .Permalink }}'>  
  <span class="btn  btn-outline-primary">{{ i18n "readMore" . }} <span class="screen-reader-text">{{ i18n "readMoreOn" }} {{ .Title }}</span><span class="meta-nav"> »</span></span>
  </a>
  {{ end }}
  </footer>
</article>
